<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%- meta.name + ' Leaderboard'%>
  </title>
  <%-`<link rel="canonical" href="https://peaceful-stream-90290.herokuapp.com/leaderboards/${meta._id}"</link>
  <meta name="title" content='Throwdown "${meta.name}" Leaderboard' />
      <meta name="description" content="Let's see who's in the lead!" />
      <meta property="og:title" content="Let's see who's in the lead!" />
      <meta property="og:url" content="https://peaceful-stream-90290.herokuapp.com/leaderboards/${meta._id}" />
      <meta property="og:description" content="Let's see who's in the lead!" />` %>
    <meta property="og:type" content="image" />
</head>

<body>
  <%- html %>
</body>

</html>