<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="canonical" href="http://hazelhq.com/">

  <meta name="author" content="Hazel">

  <meta name="description" content="Great managers build more engaged, enduring teams. Hazel gives clarity on where your managers are struggling, and growth plans to help develop their skills.">



  <!-- OPEN GRAPH FACEBOOK METADATA -->
  <meta property="og:title" content="Hazel&#58; Manager Enablement Software" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Hazel" />
  <meta property="og:url" content="http://hazelhq.com/" />
  <meta property="og:image" content="http://hazelhq.com/imgs/open-graph/og-image.png" />

  <meta property="og:description" content="Great managers build more engaged, enduring teams. Hazel gives clarity on where your managers are struggling, and growth plans to help develop their skills."
  />



</head>

<body>
  <title>Install Trivia Rumble</title>
  <a href="https://slack.com/oauth/authorize?&client_id=11036642771.230777970036&scope=bot,commands,chat:write:bot,team:read,im:write,mpim:write,channels:write,groups:write,channels:read,groups:read,mpim:read,im:read">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"
    />
  </a>
</body>

</html>